.cover__subtitle {
position: absolute;
margin: 0 auto;
width: 360px;
height: 66px;
left: 460px;
top: 429px;



font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
/* or 122% */

text-align: center;

color: #FFFFFF;
}