.lead__title {
  margin: 0;
  max-width: 720px;
  max-height: 200px;
  justify-content: center;
  padding-top: 56px;
  margin-left: auto;
  margin-right: auto;
  
  font-style: normal;
  font-weight: 900;
  font-size: 96px;
  line-height: 100px;
/* or 104% */

  text-align: center;
  color: #FFFFFF;
}

@media screen and (max-width: 678px) {
  .lead__title {
    width: 288px;
    height: 88px;

    font-style: normal;
    font-weight: 900;
    font-size: 40px;
    line-height: 44px;
  }
}