.intro {
  margin: 0 auto;
  display: flex;
  max-width: 720px;
  max-height: 429px;
  flex-direction: column;
  /* margin: 92px 442px 92px 148px; */
  /* margin-left: 148px; */
  /* margin-left: auto;
  margin-right: auto;
  */
  
  
}

/* @media screen and (max-width: 500px) {
  .intro__title {
    width: 288px;
    height: 754px;

    margin-bottom: 64px;
  }
} */